body{
    margin: 0;
    padding: 0;
}

.site-header{
    background-color: rgba(12, 89, 233, 0.61);
    color: rgb(16, 48, 190);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.site-header-content{
    margin: 10px;
    font-family: monospace;
    
}
.profile-pic{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: 10px;
    box-shadow: #2f5bb7 2px 5px 5px;

}

#encl{
    border: 2px dotted rgba(32, 17, 236, 0.658);
    color: rgb(8, 8, 8);
    
}